<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Next Gen</title>
    <link rel="icon" href="favicon.ico" />
    <!-- <meta
      name="description"
      content="Cyberpug Token is the decentralized financial asset of the future. By combining the exponential growth opportunities of cryptocurrency with the stable reserve currency of gold, cyberpug Token represents decentralized financial freedom at its finest. Cyberpug Token serves as the genesis token and key for the commodity ecosystem surrounding it."
    />
    <meta name="image" content="https://cyber-pug.vercel.app/opengraph.png" />
    <meta itemprop="name" content="CyberPug" />
    <meta
      itemprop="description"
      content="Cyberpug Token is the decentralized financial asset of the future. By combining the exponential growth opportunities of cryptocurrency with the stable reserve currency of gold, cyberpug Token represents decentralized financial freedom at its finest. Cyberpug Token serves as the genesis token and key for the commodity ecosystem surrounding it."
    />
    <meta
      itemprop="image"
      content="https://cyber-pug.vercel.app/opengraph.png"
    />
    <meta name="og:title" content="CyberPug" />
    <meta
      name="og:description"
      content="Cyberpug Token is the decentralized financial asset of the future. By combining the exponential growth opportunities of cryptocurrency with the stable reserve currency of gold, cyberpug Token represents decentralized financial freedom at its finest. Cyberpug Token serves as the genesis token and key for the commodity ecosystem surrounding it."
    />
    <meta
      name="og:image"
      content="https://cyber-pug.vercel.app/opengraph.png"
    />
    <meta name="og:url" content="https://cyber-pug.vercel.app" />
    <meta name="og:site_name" content="CyberPug" />
    <meta name="og:locale" content="en_US" />
    <meta name="fb:app_id" content="401785937034606" />
    <meta name="og:type" content="website" />
    <meta name="twitter:site" content="@CyberPug" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="CyberPug" />
    <meta
      name="twitter:description"
      content="Cyberpug Token is the decentralized financial asset of the future. By combining the exponential growth opportunities of cryptocurrency with the stable reserve currency of gold, cyberpug Token represents decentralized financial freedom at its finest. Cyberpug Token serves as the genesis token and key for the commodity ecosystem surrounding it."
    />
    <meta
      name="twitter:image"
      content="https://cyber-pug.vercel.app/opengraph.png"
    /> -->
    <!-- Use font with font of Google -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Use font with font in local -->
    <link rel="stylesheet" href="assets/fonts/Poppins/stylesheet.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <!-- <link rel="stylesheet" href="assets/plugins/aos/aos.css" />
    <link rel="stylesheet" href="assets/css/style.css" /> -->
    <link rel="stylesheet" href="assets/plugins/aos/aos.css" />
    <link rel="stylesheet" href="assets/plugins/slick/slick.css" />
    <link rel="stylesheet" href="assets/plugins/slick/slick-theme.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body></body>
</html>
<body>
  <nav class="ntg-navbar navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand order-first" href="#">
        <img src="assets/images/logo.png" alt="Next Gen" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mx-auto">
          <ul class="navbar-nav align-items-center align-items-lg-start">
            <li class="nav-item">
              <a class="nav-link" href="#">MOMO Farmers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">NFT Marketplace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Governance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Docs</a>
            </li>
          </ul>
        </div>
        <div class="navbar-nav-inner">
          <ul class="navbar-nav align-items-center align-items-lg-start">
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Download</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <section class="ntg-banner">
      <div class="container">
        <div class="ntg-banner-title">
          Unlocking the Future of<br />
          Blockchain Innovation<br />
          <span class="ntg-title-inner">NextGen Lab</span>
        </div>
        <div class="text-center icon-play">
          <img src="/assets/images/icon-play.svg" alt="" />
        </div>
        <div class="ntg-action-items">
          <div class="ntg-action-item">
            <img src="/assets/images/icon-apple.png" alt="" />
            <a href="#"
              >Download The <br />
              IOS Download</a
            >
          </div>
          <div class="ntg-action-item">
            <img src="/assets/images/icon-android.png" alt="" />
            <a href="#"
              >Download The <br />
              Android APP</a
            >
          </div>
          <div class="ntg-action-item">
            <img src="/assets/images/icon-chrome.png" alt="" />
            <a href="#"
              >Download The <br />
              Chrome Plugin</a
            >
          </div>
          <div class="ntg-action-item">
            <img src="/assets/images/icon-gg-play.png" alt="" />
            <a href="#"
              >Download The <br />
              Google Play</a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="ntg-about">
      <div class="container">
        <img class="circle-1" src="/assets/images/circle-1.png" alt="" />
        <img class="circle-2" src="/assets/images/circle-2.png" alt="" />
        <div class="container-fluid">
          <div class="ntg-about-content">
            <div class="content-left">
              <div class="title">About NextGen Lab</div>
              <span class="content"
                >Accompanying the development of blockchain technology, we have
                created NextGen Lab - a laboratory of blockchain technology
                products with the desire to simplify this new technology,
                bringing blockchain closer to everyone.</span
              >
            </div>
            <div class="content-right">
              <img src="/assets/images/about-image.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ntg-community">
      <div class="container">
        <div class="container-fluid">
          <div class="ntg-community-update">
            <div class="title"> Community Update </div>
            <div class="content">
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="ntg-content-img-items">
                    <img src="/assets/images/img-comm.png" alt="" />
                    <img src="/assets/images/img-comm.png" alt="" />
                    <img src="/assets/images/img-comm.png" alt="" />
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div class="ntg-new-items">
                    <div class="row">
                      <div class="col-6 col-md-6">
                        <div class="ntg-new-item">
                          <div class="title">
                            Dear MOBOXers, We would
                            like to inform you that the The Clash of MOland
                            Season S6 will
                          </div>
                          <div
                            class="ntg-new-inner d-flex justify-content-between"
                          >
                            <span class="time"
                              >2023-03-08<br />
                              13:42:03</span
                            >
                            <a class="learn-more" href="#">Learn more</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-6">
                        <div class="ntg-new-item">
                          <div class="title">
                            Dear MOBOXers, We would
                            like to inform you that the The Clash of MOland
                            Season S6 will
                          </div>
                          <div
                            class="ntg-new-inner d-flex justify-content-between"
                          >
                            <span class="time"
                              >2023-03-08<br />
                              13:42:03</span
                            >
                            <a class="learn-more" href="#">Learn more</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-6">
                        <div class="ntg-new-item">
                          <div class="title">
                            Dear MOBOXers, We would 
                            like to inform you that the The Clash of MOland
                            Season S6 will
                          </div>
                          <div
                            class="ntg-new-inner d-flex justify-content-between"
                          >
                            <span class="time"
                              >2023-03-08<br />
                              13:42:03</span
                            >
                            <a class="learn-more" href="#">Learn more</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-6">
                        <div class="ntg-new-item">
                          <div class="title">
                            Dear MOBOXers, We would 
                            like to inform you that the The Clash of MOland
                            Season S6 will
                          </div>
                          <div
                            class="ntg-new-inner d-flex justify-content-between"
                          >
                            <span class="time"
                              >2023-03-08<br />
                              13:42:03</span
                            >
                            <a class="learn-more" href="#">Learn more</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          </div>
          <div class="ntg-our-product">
            <div class="title"> Our Products </div>
            <div class="ntg-our-product-items">
              <div class="ntg-our-product-item">
                <img src="/assets/images/img-prd-1.png" alt="">
                <div class="ntg-prod-info d-flex">
                  <img class="icon-game" src="/assets/images/game-controller.svg" alt="">
                  <div class="ntg-prod-des">
                    <div class="ntg-prod-des-title">
                      UNI PET
                    </div>
                    <div class="ntg-prod-des-content">
                      NFT Game - Pet Game
                    </div>
                  </div>
                </div>
              </div>
              <div class="ntg-our-product-item">
                <img src="/assets/images/img-prd-2.png" alt="">
                <div class="ntg-prod-info d-flex">
                  <img class="icon-game" src="/assets/images/game-controller.svg" alt="">
                  <div class="ntg-prod-des ">
                    <div class="ntg-prod-des-title">
                      UNI PET
                    </div>
                    <div class="ntg-prod-des-content">
                      NFT Game - Pet Game
                    </div>
                  </div>
                </div>
              </div>
              <div class="ntg-our-product-item">
                <img src="/assets/images/img-prd-3.png" alt="">
                <div class="ntg-prod-info d-flex">
                  <img class="icon-game" src="/assets/images/game-controller.svg" alt="">
                  <div class="ntg-prod-des ">
                    <div class="ntg-prod-des-title">
                      UNI PET
                    </div>
                    <div class="ntg-prod-des-content">
                      NFT Game - Pet Game
                    </div>
                  </div>
                </div>
              </div>
              <div class="ntg-our-product-item">
                <img src="/assets/images/img-prd-1.png" alt="">
                <div class="ntg-prod-info d-flex">
                  <img class="icon-game" src="/assets/images/game-controller.svg" alt="">
                  <div class="ntg-prod-des">
                    <div class="ntg-prod-des-title">
                      UNI PET
                    </div>
                    <div class="ntg-prod-des-content">
                      NFT Game - Pet Game
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="ntg-our-product-item">
                <img src="/assets/images/img-prd-2.png" alt="">
                <div class="ntg-prod-info d-flex">
                  <img src="" alt="">
                  <div class="ntg-prod-des d-flex">
                    <div class="title">
                      UNI PET
                    </div>
                    <div class="content">
                      NFT Game - Pet Game
                    </div>
                  </div>
                </div>
              </div>
              <div class="ntg-our-product-item">
                <img src="/assets/images/img-prd-3.png" alt="">
                <div class="ntg-prod-info d-flex">
                  <img src="" alt="">
                  <div class="ntg-prod-des d-flex">
                    <div class="title">
                      UNI PET
                    </div>
                    <div class="content">
                      NFT Game - Pet Game
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
      </div>
    </section>
    <section class="ntg-gaming">
      <div class="container">
        <div class="container-fluid">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-gaming-tab" data-bs-toggle="tab" data-bs-target="#nav-gaming" type="button" role="tab" aria-controls="nav-gaming" aria-selected="true">
                <span>Gaming NFTs</span>
              </button>
              <button class="nav-link" id="nav-legendry-tab" data-bs-toggle="tab" data-bs-target="#nav-legendry" type="button" role="tab" aria-controls="nav-legendry" aria-selected="false">
                <span>Legendry NFTs</span>
              </button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-gaming" role="tabpanel" aria-labelledby="nav-gaming-tab">
              <div class="ntg-gaming-content">
                <div class="row">
                  <div class="col-12 col-md-3">
                      <div class="ntg-gaming-content-left-items">
                        <div class="ntg-gaming-content-left-item">
                          <img class="ntg-gaming-content-left-item-header" src="/assets/images/icon-gaming-large-1.png" alt="">
                          <div class="ntg-gaming-content-left-item-body">
                            <a class="link-gaming" href="">Bluey > Bluessette</a>
                            <div class="list-icon d-flex">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                            </div>
                            <span class="gaming-des">
                              Bluessette is fun-loving & creative, she is the life of the party.
                            </span>
                          </div>
                        </div>
                        <div class="ntg-gaming-content-left-item">
                          <img class="ntg-gaming-content-left-item-header" src="/assets/images/icon-gaming-large-2.png" alt="">
                          <div class="ntg-gaming-content-left-item-body">
                            <a class="link-gaming" href="">Bluey > Bluessette</a>
                            <div class="list-icon d-flex">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                            </div>
                            <span class="gaming-des">
                              Bluessette is fun-loving & creative, she is the life of the party.
                            </span>
                          </div>
                        </div>
                        <div class="ntg-gaming-content-left-item">
                          <img class="ntg-gaming-content-left-item-header" src="/assets/images/icon-gaming-large-3.png" alt="">
                          <div class="ntg-gaming-content-left-item-body">
                            <a class="link-gaming" href="">Bluey > Bluessette</a>
                            <div class="list-icon d-flex">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                            </div>
                            <span class="gaming-des">
                              Bluessette is fun-loving & creative, she is the life of the party.
                            </span>
                          </div>
                        </div>
                        <div class="ntg-gaming-content-left-item">
                          <img class="ntg-gaming-content-left-item-header" src="/assets/images/icon-gaming-large-4.png" alt="">
                          <div class="ntg-gaming-content-left-item-body">
                            <a class="link-gaming" href="">Bluey > Bluessette</a>
                            <div class="list-icon d-flex">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                              <img src="/assets/images/icon-small-1.png" alt="">
                            </div>
                            <span class="gaming-des">
                              Bluessette is fun-loving & creative, she is the life of the party.
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-9">
                    <div class="ntg-gaming-content-right-items">
                      <div class="ntg-gaming-content-right-item text-center">
                        <div class="ntg-gaming-right-item-title">
                          Own your first NFT<br>MONO
                        </div>
                        <div class="ntg-gaming-right-item-des">
                          Each MOMO has a randomly generated hash power that can be upgraded by consuming other MOMO NFTs. The total hash power is calculated by adding up the hash power of all your MOMOs. The amount of MBOX tokens mined is dependent on your weighted average of the total hash power across the platform. 
                        </div>
                      </div>
                      <div class="ntg-gaming-content-right-item text-center">
                        <div class="ntg-gaming-right-item-title">
                          Own your first NFT<br>MONO
                        </div>
                        <div class="ntg-gaming-right-item-des">
                          Each MOMO has a randomly generated hash power that can be upgraded by consuming other MOMO NFTs. The total hash power is calculated by adding up the hash power of all your MOMOs. The amount of MBOX tokens mined is dependent on your weighted average of the total hash power across the platform. 
                        </div>
                      </div>
                      <div class="ntg-gaming-content-right-item text-center">
                        <div class="ntg-gaming-right-item-title">
                          Own your first NFT<br>MONO
                        </div>
                        <div class="ntg-gaming-right-item-des">
                          Each MOMO has a randomly generated hash power that can be upgraded by consuming other MOMO NFTs. The total hash power is calculated by adding up the hash power of all your MOMOs. The amount of MBOX tokens mined is dependent on your weighted average of the total hash power across the platform. 
                        </div>
                      </div>
                      <div class="ntg-gaming-content-right-item text-center">
                        <div class="ntg-gaming-right-item-title">
                          Own your first NFT<br>MONO
                        </div>
                        <div class="ntg-gaming-right-item-des">
                          Each MOMO has a randomly generated hash power that can be upgraded by consuming other MOMO NFTs. The total hash power is calculated by adding up the hash power of all your MOMOs. The amount of MBOX tokens mined is dependent on your weighted average of the total hash power across the platform. 
                        </div>
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-legendry" role="tabpanel" aria-labelledby="nav-legendry-tab">...</div>
          </div>
        </div>
      </div>

    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/plugins/jquery/jquery.min.js"></script>
  <script src="assets/plugins/aos/aos.js"></script>
  <script src="assets/plugins/slick/slick.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>
