<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trust Message - NextGen Lab</title>
    <link rel="icon" href="favicon.ico" />
    <meta name="description"
        content="Trust Message is one core product of Nextgen Lab that enables users to securely communicate with their friends and family while also managing their cryptocurrency assets seamlessly." />
    <meta name="image" content="https://hiplab.net/nextgen-lab/trustmessage.png" />
    <meta itemprop="name" content="Trust Message - NextGen Lab" />
    <meta itemprop="description"
        content="Trust Message is one core product of Nextgen Lab that enables users to securely communicate with their friends and family while also managing their cryptocurrency assets seamlessly." />
    <meta itemprop="image" content="https://hiplab.net/nextgen-lab/trustmessage.png" />
    <meta name="og:title" content="Trust Message - NextGen Lab" />
    <meta name="og:description"
        content="Trust Message is one core product of Nextgen Lab that enables users to securely communicate with their friends and family while also managing their cryptocurrency assets seamlessly." />
    <meta name="og:image" content="https://hiplab.net/nextgen-lab/trustmessage.png" />
    <meta name="og:url" content="https://hiplab.net/nextgen-lab" />
    <meta name="og:site_name" content="Trust Message - NextGen Lab" />
    <meta name="og:locale" content="en_US" />
    <meta name="fb:app_id" content="401785937034606" />
    <meta name="og:type" content="website" />
    <meta name="twitter:site" content="@NextGenLab" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Trust Message - NextGen Lab" />
    <meta name="twitter:description"
        content="Trust Message is one core product of Nextgen Lab that enables users to securely communicate with their friends and family while also managing their cryptocurrency assets seamlessly." />
    <meta name="twitter:image" content="https://hiplab.net/nextgen-lab/trustmessage.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="assets/plugins/slick/slick.css" />
    <link rel="stylesheet" href="assets/plugins/slick/slick-theme.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
    <header class="nheader">
        <div class="container-fluid">
            <div class="nheader-inner">
                <a href="index.html" class="nlogo">
                    <img src="assets/images/logo.svg" alt="Trust Message - NextGen Lab" />
                </a>
                <button type="button" class="nmenu-toggle nmenu-open">
                    <img src="assets/images/hamburger.svg" alt="" />
                </button>
                <div class="nheader-nav">
                    <button type="button" class="nmenu-toggle nmenu-close">
                        <img src="assets/images/close.svg" alt="" />
                    </button>
                    <ul class="nmainmenu">
                        <li><a href="#">MOMO Farmers</a></li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">NFT Marketplace</a></li>
                        <li><a href="#">Governance</a></li>
                        <li><a href="#">Docs</a></li>
                    </ul>
                    <ul class="ms-lg-auto nsubmenu">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="nbanner-product">
        <img src="assets/images/banner-product.jpg" alt="" class="bg" />
        <button type="button">
            <img src="assets/images/play.svg" alt="" />
        </button>
    </section>

    <section class='nproduct-detail'>
        <span class='decor decor1'></span>
        <span class='decor decor2'></span>
        <span class='decor decor3' style="top:315px"></span>
        <img src="assets/images/products/decor-2.png" alt="" class="decor-2"/>
        <div class='nproduct-summary'>
            <div class='container'>
                <div class='row align-items-center '>
                    <div class='col-lg-5 col-md-4 text-md-start text-center'>
                        <img src="assets/images/products/TrustMessage.svg" alt='' />
                    </div>
                    <div class='col-lg-7 col-md-8'>
                        <h1>Trust Message</h1>
                        <p>Trust Message is one core product of Nextgen Lab that enables users to securely communicate
                            with their friends and family while also managing their cryptocurrency assets seamlessly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class='nproduct-features'>
            <div class='container'>
                <div class='row row-cols-lg-3 row-cols-md-2 row-cols-1'>
                    <div class='col'>
                        <div class='nproduct-feature'>
                            <div class='ngl-pf-header'>
                                <img src="assets/images/check.svg" alt="" />
                                <span>Highest privacy standards</span>
                            </div>
                            <div class='npf-body'>Trust Message’s level of security stems from TextSecure protocols
                                (Signal pr)</div>
                        </div>
                    </div>
                    <div class='col'>
                        <div class='nproduct-feature'>
                            <div class='ngl-pf-header'>
                                <img src="assets/images/check.svg" alt="" />
                                <span>X4 secured chats, voice & video calls</span>
                            </div>
                            <div class='npf-body'>Each message sent by a user is encrypted using a fresh message key to
                                provide a high degree of forward secrecy.</div>
                        </div>
                    </div>
                    <div class='col'>
                        <div class='nproduct-feature'>
                            <div class='ngl-pf-header'>
                                <img src="assets/images/check.svg" alt="" />
                                <span>No interference from third parties whatsoever</span>
                            </div>
                            <div class='npf-body'>Using end-to-end encryption, only participants can read the contents
                            </div>
                        </div>
                    </div>
                    <div class='col'>
                        <div class='nproduct-feature'>
                            <div class='ngl-pf-header'>
                                <img src="assets/images/check.svg" alt="" />
                                <span>DEFI wallet integrated</span>
                            </div>
                            <div class='npf-body'>Users can use all major token/coins</div>
                        </div>
                    </div>
                    <div class='col'>
                        <div class='nproduct-feature'>
                            <div class='ngl-pf-header'>
                                <img src="assets/images/check.svg" alt="" />
                                <span>User-friendly application interface</span>
                            </div>
                            <div class='npf-body'>Giao diện ứng dụng thân thiện với người dùng</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='nproduct-content'>
            <div class='container'>
                <h2>Compare Trust Message and some popular chat apps</h2>
                <img src="assets/images/products/compare.png" alt=""
                    style="width: calc(100% + 40px); max-width: calc(100% + 40px);" />
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="nfooter">
        <div class="container">
            <div class="nfooter-inner">
                <div class="nfooter-logo">
                    <img src="assets/images/logo.svg" alt="Trust Message - NextGen Lab" />
                </div>
                <div>
                    <div class="nfooter-icon">
                        <a href="#">
                            <img src="assets/images/socials/telegram.svg" alt="" />
                        </a>
                        <a href="#">
                            <img src="assets/images/socials/twitter.svg" alt="" />
                        </a>
                        <a href="#">
                            <img src="assets/images/socials/discord.svg" alt="" />
                        </a>
                    </div>
                    <div class="nfooter-copyright">
                        Copyright © 2021 MOBOX DIGITAL CO., LTD. All rights reserved.
                    </div>
                    <ul>
                        <li>
                            <a href="#">Terms of Service</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="assets/plugins/slick/slick.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>