.ntg-about {
    background-image: url(../images/bg-about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .circle-1 {
        position: absolute;
        bottom: -39px;
        left: 43%;
    }

    .circle-2 {
        position: absolute;
        left: 20%;
        bottom: 10%;
    }

    .ntg-about-content {
        display: inline-flex;
        padding: 39px 208px;

        .content-left {
            margin-top: 125px;

            .title {
                font-weight: 700;
                font-size: 40px;
                line-height: 60px;
            }

            .content {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}