.ntg-banner{
  &::before{
    content: '';
    background: linear-gradient(0deg, #16181F 0%, rgba(22, 24, 31, 0.5) 100%);

  }
  background-image: url(../images/img-banner.png);
  /* width: 100%; */
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover;
  position: relative;
  .ntg-banner-title{
    padding-top: 180px;
    // position: absolute;
    // top: 20%;
    // left: 40%;
    // bottom: 0;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    
    .ntg-title-inner {
      font-weight: 700;
      font-size: 40px;
    }
  }
  .icon-play{
    margin-top: 42px;
  }
  .ntg-action-items{
    column-gap: 20px;
    margin-top: 73px;
    padding-bottom: 172px;
    display: flex;
    width: 100%;
    justify-content: center;
    .ntg-action-item{
    background-color:rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
    display: inline-flex;
    padding: 10px 21px 10px 19px;
    align-items: center;
    border-radius: 5px;
    img{
      margin-right: 10px;
    }
    }
  }
}