.ntg-card {
    // background: $bg-footer;
    padding: 60px 208px;
    display: flex;
    flex-wrap: wrap;
    &_content {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      min-height: 130px;
      .card-body{
          padding: 31px 21px;
          .ntg-text{
              color: $white-color;
              font-size: 14px;
              line-height: 22px;
              font-weight: $font-weight-400;
          }
      }
    }
    @media (max-width:570px) {
      padding: 30px;
    }
    @media (max-width:992px) {
      padding: 30px;
    }
  }
  