.ntg-gaming {
    padding: 60px 208px;
    background-image: url(../images/bg-gaming.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .nav-tabs {
        border: none;

        .nav-link {
            background: none;
            border: none;
            color: #FFFFFF;
            opacity: 0.5;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;

            &.active {
                color: #D9D9D9;
                opacity: 1;
            }
        }
    }

    .ntg-gaming-content-left-items {
        width: 75%;
        background-color: #16181F;
        opacity: 0.8;
        border-radius: 10px;
        text-align: center;
        z-index: 0;
        margin-top: 20px;

        .ntg-gaming-content-left-item {
            .ntg-gaming-content-left-item-header {
                margin: auto;
            }

            .ntg-gaming-content-left-item-body {
                width: 100%;
                padding: 0 10px 10px 10px;
                background-color: black;
                border-radius: 8px;

                .link-gaming {
                    margin-top: 43px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21px;
                    color: #088FF5;
                }

                .list-icon {
                    justify-content: center;
                    column-gap: 10px;
                }

                .gaming-des {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 15px;
                    color: #D9D9D9;
                }
            }
        }
    }

    .ntg-gaming-content-right-items {
        margin-top: 200px;

        &.slick-dotted {
            .slick-dots {
                top: -196px;

                li {
                    width: 133px;
                    margin: 0 16px;
                }

                #slick-slide-control30 {
                    &::before {
                        content: url(../images/icon-gaming-1.png);
                    }
                }

                #slick-slide-control31 {
                    &::before {
                        content: url(../images/icon-gaming-2.png);
                    }
                }

                #slick-slide-control32 {
                    &::before {
                        content: url(../images/icon-gaming-3.png);
                    }
                }

                #slick-slide-control33 {
                    &::before {
                        content: url(../images/icon-gaming-4.png);
                    }
                }
            }

        }
        &.slick-slider{
            .slick-prev {
                top: -221px ;
                left: 90% ;
            }
            .slick-next {
                top: -221px ;
                
            }
        }
   

        .ntg-gaming-right-item-title {
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
            color: #FFFFFF;
        }

        .ntg-gaming-right-item-des {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: #D9D9D9
        }
    }
}