body {
  background: $background-color;
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #e1e1e1;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
      max-width: calc(100% - 200px);
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
      max-width: 1020px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
      max-width: 1320px;
  }
}
@media (min-width: 1440px) {
  .container
  {
      max-width: calc(100% - 30px);
  }
}
