body {
  background: $background-color;
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #e1e1e1;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(34, 23, 71);
}

.ntg-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}
.ntg-action-item {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  display: inline-flex;
  padding: 10px 20px;
  min-width: 160px;
  align-items: center;
  border-radius: 5px;
  @media (max-width: 767px) {
    width: calc(50% - 10px);
  }
  a {
    color: #ffffff;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    &:hover {
      color: #088ff5;
    }
  }
  img {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
      max-width: 864px;
  }
}