// .ntg-navbar {
//   padding: 36px 0;
//   position: fixed;
//   width: 100%;
//   left: 0;
//   top: 0;
//   z-index: 999;
//   transition: all ease-in-out .3s;
//   @media (max-width: 1199px) {
//     padding: 16px 0;
//   }

//   &.ntg-navbar-fixed {
//     background-color: rgba($color: $ntg-black-color, $alpha: 0.7);
//     backdrop-filter: blur(6px);
//   }

//   &.sticky {
//     padding: 16px 0;
//     background: rgba(88, 50, 178, 0.5);
//     backdrop-filter: blur(14px);
//     animation: slide-down 0.5s;
//   }

//   .navbar-brand {
//     padding: 0;
//     margin: 0;
//     margin-right: 30px;

//     span {
//       display: inline-flex;
//       align-items: center;
//       justify-content: center;
//       border: 4px solid $primary-color;
//       width: 158px;
//       height: 59px;
//       font-weight: 600;
//       font-size: 24px;
//       line-height: 30px;
//       color: $primary-color;
//     }
//   }

//   .navbar-nav {
//     margin: auto;
//     .nav-item {
//       margin-right: 30px;
//       @media (max-width: 1199px) {
//         margin-right: 16px;
//       }
//       .nav-link {
//         font-weight: 700;
//         font-size: 14px;
//         line-height: 156%;
//         color: $white-color;
//         transition: $transition-all;
//         transition: all ease-in-out 0.3s;
//         &:hover {
//           color: #088ff5;
//         }
//       }
//     }
//   }

//   .navbar-collapse {
//     .navbar-nav-inner {
//       .navbar-nav {
//         .nav-item {
//           .nav-link {
//             font-size: 12px;
//             font-weight: 400;
//           }
//         }
//       }
//     }
//   }
// }

// @keyframes slide-down {
//   0% {
//     opacity: 0;
//     transform: translateY(-100%);
//   }

//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @media (max-width: 991px) {
//   .ntg-navbar {
//     .navbar-brand {
//       margin-right: 20px;

//       span {
//         height: 48px;
//       }
//     }

//     .navbar-collapse {
//       .search-input {
//         position: relative !important;
//         width: 100% !important;
//       }

//       .btn-matebase {
//         display: flex;
//         margin: 20px auto;
//       }
//     }
//   }
// }

// @media (max-width: 767px) {
//   .ntg-navbar {
//     background-color: rgba(0, 0, 0, 0.7);
//     backdrop-filter: blur(6px);

//     .navbar-nav {
//       justify-content: center;
//       align-items: center;

//       .nav-item {
//         margin-bottom: 15px;
//       }
//     }

//     .search-input {
//       position: relative !important;
//       width: 100% !important;
//     }

//     .btn-matebase {
//       display: flex;
//       margin: 20px auto;
//     }
//   }

//   #navbarSupportedContent {
//     padding: 60px 0;
//   }
//   .navbar-collapse{
//     &.show{
//       height: 100vh;
//     }
//   }
// }
.nheader {
  padding: 36px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all ease-in-out 0.3s;
  @media (max-width: 1199px) {
    padding: 20px 10px;
  }
  &.nheader-fixed {
    background-color: rgba($color: #000, $alpha: 0.7);
    backdrop-filter: blur(6px);
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .nheader-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .nlogo {
      img {
        height: 36px;
      }
    }
    .nmenu-toggle {
      display: none;
      background-color: transparent;
      border: 0;
      outline: 0;
      padding: 0;
      img {
        height: 40px;
      }
      @media (max-width: 991px) {
        display: block;
      }
    }
    .nmenu-open {
      position: fixed;
      top: 20px;
      right: 20px;
    }
    .nmenu-close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .nheader-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      position: relative;
      @media (max-width: 991px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transition: all ease-in-out 0.3s;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 120px;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(10px);
        z-index: 1000;
        transform: translateX(100%);
        &.show {
          transform: translateX(0);
        }
        ul {
          flex-direction: column;
          align-items: center;
          margin-left: 0 !important;
          margin-right: 0 !important;
          li {
            margin-bottom: 10px;
            a {
              padding: 20px 30px;
              font-size: 24px;
              display: inline-flex;
              @media (max-width: 767px) {
                font-size: 16px;
                padding: 10px 30px;
              }
            }
          }
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      li {
        a {
          color: #ffffff;
          transition: all ease-in-out 0.3s;
          padding: 8px 20px;
          @media (max-width: 1199px) {
            padding-left: 12px;
            padding-right: 12px;
            white-space: nowrap;
          }
          &:hover {
            color: #088ff5;
          }
        }
      }
    }
    .nmainmenu {
      margin-left: auto;
      margin-right: auto;
      li {
        a {
          font-weight: 700;
        }
      }
    }
  }
}
