body {
  background: #181c2c;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #e1e1e1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(34, 23, 71);
}

@media (min-width: 1024px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 864px;
  }
}
.ntg-navbar {
  padding: 36px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1199px) {
  .ntg-navbar {
    padding: 16px 0;
  }
}
.ntg-navbar.ntg-navbar-fixed {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.ntg-navbar.sticky {
  padding: 16px 0;
  background: rgba(88, 50, 178, 0.5);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  animation: slide-down 0.5s;
}
.ntg-navbar .navbar-brand {
  padding: 0;
  margin: 0;
  margin-right: 30px;
}
.ntg-navbar .navbar-brand span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #d2f859;
  width: 158px;
  height: 59px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #d2f859;
}
.ntg-navbar .navbar-nav {
  margin: auto;
}
.ntg-navbar .navbar-nav .nav-item {
  margin-right: 30px;
}
@media (max-width: 1199px) {
  .ntg-navbar .navbar-nav .nav-item {
    margin-right: 16px;
  }
}
.ntg-navbar .navbar-nav .nav-item .nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 156%;
  color: #fff;
  transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.ntg-navbar .navbar-nav .nav-item .nav-link:hover {
  color: #088ff5;
}
.ntg-navbar .navbar-collapse .navbar-nav-inner .navbar-nav .nav-item .nav-link {
  font-size: 12px;
  font-weight: 400;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 991px) {
  .ntg-navbar .navbar-brand {
    margin-right: 20px;
  }
  .ntg-navbar .navbar-brand span {
    height: 48px;
  }
  .ntg-navbar .navbar-collapse .search-input {
    position: relative !important;
    width: 100% !important;
  }
  .ntg-navbar .navbar-collapse .btn-matebase {
    display: flex;
    margin: 20px auto;
  }
}
@media (max-width: 767px) {
  .ntg-navbar {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .ntg-navbar .navbar-nav {
    justify-content: center;
    align-items: center;
  }
  .ntg-navbar .navbar-nav .nav-item {
    margin-bottom: 15px;
  }
  .ntg-navbar .search-input {
    position: relative !important;
    width: 100% !important;
  }
  .ntg-navbar .btn-matebase {
    display: flex;
    margin: 20px auto;
  }
  #navbarSupportedContent {
    padding: 60px 0;
  }
  .navbar-collapse.show {
    height: 100vh;
  }
}
.ntg-banner {
  background-image: url(../../images/img-banner.png);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 172px;
  padding-bottom: 150px;
}
.ntg-banner::before {
  content: "";
  background: linear-gradient(0deg, #16181f 0%, rgba(22, 24, 31, 0.5) 100%);
}
@media (max-width: 1024px) {
  .ntg-banner {
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .ntg-banner {
    padding: 120px 0 80px;
  }
}
.ntg-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #16181f 0%, rgba(22, 24, 31, 0.5) 100%);
}
.ntg-banner * {
  position: relative;
}
.ntg-banner .ntg-banner-title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}
@media (max-width: 767px) {
  .ntg-banner .ntg-banner-title {
    font-size: 30px;
    line-height: 1.5;
  }
}
.ntg-banner .ntg-banner-title .ntg-title-inner {
  font-weight: 700;
}
.ntg-banner .icon-play {
  margin-top: 42px;
}
.ntg-banner .icon-play img {
  transition: all ease-in-out 0.3s;
  transform-origin: center center;
  cursor: pointer;
}
.ntg-banner .icon-play img:hover {
  transform: scale(1.2);
}
.ntg-banner .ntg-action-items {
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 73px;
  display: flex;
  width: 100%;
  justify-content: center;
}
@media (max-width: 767px) {
  .ntg-banner .ntg-action-items {
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 40px;
  }
}
.ntg-banner .ntg-action-items .ntg-action-item {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  display: inline-flex;
  padding: 10px 21px 10px 19px;
  align-items: center;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .ntg-banner .ntg-action-items .ntg-action-item {
    width: calc(50% - 10px);
  }
}
.ntg-banner .ntg-action-items .ntg-action-item a {
  color: #ffffff;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.ntg-banner .ntg-action-items .ntg-action-item a:hover {
  color: #088ff5;
}
.ntg-banner .ntg-action-items .ntg-action-item img {
  margin-right: 10px;
}

.ntg-about {
  background-image: url(../../images/bg-about.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.ntg-about .circle-1 {
  position: absolute;
  bottom: -39px;
  left: 43%;
}
@media (max-width: 991px) {
  .ntg-about .circle-1 {
    display: none;
  }
}
.ntg-about .circle-2 {
  position: absolute;
  left: 20%;
  bottom: 10%;
}
@media (max-width: 991px) {
  .ntg-about .circle-2 {
    display: none;
  }
}
.ntg-about .ntg-about-content {
  padding: 38px 0;
  position: relative;
  z-index: 2;
  color: #fff;
}
.ntg-about .ntg-about-content .title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}
@media (max-width: 991px) {
  .ntg-about .ntg-about-content .title {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}
.ntg-about .ntg-about-content .content {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.ntg-community {
  padding: 60px 0;
}
.ntg-community .ntg-community-update .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #fff;
}
.ntg-community .ntg-community-update .content {
  padding: 32px 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
@media (max-width: 767px) {
  .ntg-community .ntg-community-update .content {
    padding: 20px;
  }
}
.ntg-community .ntg-community-update .content .ntg-content-img-items.slick-slider:hover .slick-arrow {
  opacity: 1;
}
.ntg-community .ntg-community-update .content .ntg-content-img-items.slick-slider .slick-arrow {
  opacity: 0;
  height: 100%;
  transition: all ease-in-out 0.3s;
}
.ntg-community .ntg-community-update .content .ntg-content-img-items.slick-slider .slick-arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #16181f;
  background-position: center center;
  background-repeat: no-repeat;
}
.ntg-community .ntg-community-update .content .ntg-content-img-items.slick-slider .slick-arrow.slick-disabled {
  display: none !important;
}
.ntg-community .ntg-community-update .content .ntg-content-img-items.slick-slider .slick-next {
  right: 0;
}
.ntg-community .ntg-community-update .content .ntg-content-img-items.slick-slider .slick-next::before {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(../../images/arrow-next.png);
}
.ntg-community .ntg-community-update .content .ntg-content-img-items.slick-slider .slick-prev {
  left: 0;
  z-index: 10;
}
.ntg-community .ntg-community-update .content .ntg-content-img-items.slick-slider .slick-prev::before {
  background-image: url(../../images/arrow-prev.png);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.ntg-community .ntg-community-update .content .ntg-content-img-items.slick-slider .slick-list {
  border-radius: 20px;
}
.ntg-community .ntg-community-update .content .ntg-new-items .row {
  --bs-gutter-y: 19px;
}
.ntg-community .ntg-community-update .content .ntg-new-items .ntg-new-item {
  padding: 0 20px;
}
@media (max-width: 767px) {
  .ntg-community .ntg-community-update .content .ntg-new-items .ntg-new-item {
    padding: 0;
  }
}
.ntg-community .ntg-community-update .content .ntg-new-items .ntg-new-item .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.ntg-community .ntg-community-update .content .ntg-new-items .ntg-new-item .time {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
.ntg-community .ntg-community-update .content .ntg-new-items .ntg-new-item .learn-more {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #088ff5;
  margin-top: 4px;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.ntg-community .ntg-community-update .content .ntg-new-items .ntg-new-item .learn-more:hover {
  color: #fff;
}
.ntg-community .ntg-our-product {
  margin-top: 34px;
}
.ntg-community .ntg-our-product .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #fff;
}
.ntg-community .ntg-our-product .ntg-our-product-items {
  margin-left: -12px;
  margin-right: -12px;
}
.ntg-community .ntg-our-product .ntg-our-product-items.slick-slider .slick-prev {
  top: -32px;
  right: 12px;
  left: auto;
}
.ntg-community .ntg-our-product .ntg-our-product-items.slick-slider .slick-prev::before {
  content: url(../../images/arrow-prev.png);
}
.ntg-community .ntg-our-product .ntg-our-product-items.slick-slider .slick-next {
  right: -6px;
  top: -32px;
}
.ntg-community .ntg-our-product .ntg-our-product-items.slick-slider .slick-next::before {
  content: url(../../images/arrow-next.png);
}
.ntg-community .ntg-our-product .ntg-our-product-items .ntg-our-product-item {
  padding: 0 12px;
  display: block;
  text-decoration: none;
}
.ntg-community .ntg-our-product .ntg-our-product-items .ntg-our-product-item:hover .ntg-prod-thumbnail img {
  transform: scale(1.1);
}
.ntg-community .ntg-our-product .ntg-our-product-items .ntg-our-product-item .ntg-prod-thumbnail {
  height: 168px;
  border-radius: 10px;
  overflow: hidden;
}
.ntg-community .ntg-our-product .ntg-our-product-items .ntg-our-product-item .ntg-prod-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform-origin: center center;
  transition: all ease-in-out 0.3s;
}
.ntg-community .ntg-our-product .ntg-our-product-items .ntg-our-product-item .ntg-prod-info {
  margin-top: 16px;
}
.ntg-community .ntg-our-product .ntg-our-product-items .ntg-our-product-item .ntg-prod-info .icon-game {
  width: auto;
  margin: 0;
  margin-right: 7px;
}
.ntg-community .ntg-our-product .ntg-our-product-items .ntg-our-product-item .ntg-prod-info .ntg-prod-des .ntg-prod-des-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.ntg-community .ntg-our-product .ntg-our-product-items .ntg-our-product-item .ntg-prod-info .ntg-prod-des .ntg-prod-des-content {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #d9d9d9;
}

.ntg-gaming {
  background-image: url(../../images/bg-gaming.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ntg-gaming .nav-tabs {
  border: none;
}
.ntg-gaming .nav-tabs .nav-link {
  background: none;
  border: none;
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.ntg-gaming .nav-tabs .nav-link.active {
  color: #D9D9D9;
  opacity: 1;
}
.ntg-gaming .ntg-gaming-content-left-items {
  width: 75%;
  background-color: #16181F;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
  z-index: 0;
  margin-top: 20px;
}
.ntg-gaming .ntg-gaming-content-left-items .ntg-gaming-content-left-item .ntg-gaming-content-left-item-header {
  margin: auto;
}
.ntg-gaming .ntg-gaming-content-left-items .ntg-gaming-content-left-item .ntg-gaming-content-left-item-body {
  width: 100%;
  padding: 0 10px 10px 10px;
  background-color: black;
  border-radius: 8px;
}
.ntg-gaming .ntg-gaming-content-left-items .ntg-gaming-content-left-item .ntg-gaming-content-left-item-body .link-gaming {
  margin-top: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #088FF5;
}
.ntg-gaming .ntg-gaming-content-left-items .ntg-gaming-content-left-item .ntg-gaming-content-left-item-body .list-icon {
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.ntg-gaming .ntg-gaming-content-left-items .ntg-gaming-content-left-item .ntg-gaming-content-left-item-body .gaming-des {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #D9D9D9;
}
.ntg-gaming .ntg-gaming-content-right-items {
  margin-top: 200px;
}
.ntg-gaming .ntg-gaming-content-right-items.slick-dotted .slick-dots {
  top: -196px;
}
.ntg-gaming .ntg-gaming-content-right-items.slick-dotted .slick-dots li {
  margin: 0 30px;
}
.ntg-gaming .ntg-gaming-content-right-items.slick-dotted .slick-dots #slick-slide-control30::before {
  content: url(../../images/icon-gaming-1.png);
  width: 40px;
}
.ntg-gaming .ntg-gaming-content-right-items.slick-dotted .slick-dots #slick-slide-control31::before {
  content: url(../../images/icon-gaming-2.png);
}
.ntg-gaming .ntg-gaming-content-right-items.slick-dotted .slick-dots #slick-slide-control32::before {
  content: url(../../images/icon-gaming-3.png);
}
.ntg-gaming .ntg-gaming-content-right-items.slick-dotted .slick-dots #slick-slide-control33::before {
  content: url(../../images/icon-gaming-4.png);
}
.ntg-gaming .ntg-gaming-content-right-items.slick-slider .slick-arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-position: center center;
  background-repeat: no-repeat;
}
.ntg-gaming .ntg-gaming-content-right-items.slick-slider .slick-prev {
  top: -221px;
  left: 90%;
}
.ntg-gaming .ntg-gaming-content-right-items.slick-slider .slick-prev::before {
  background-image: url(../../images/arrow-prev.png);
}
.ntg-gaming .ntg-gaming-content-right-items.slick-slider .slick-next {
  top: -221px;
}
.ntg-gaming .ntg-gaming-content-right-items.slick-slider .slick-next::before {
  background-image: url(../../images/arrow-next.png);
}
.ntg-gaming .ntg-gaming-content-right-items .ntg-gaming-right-item-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}
.ntg-gaming .ntg-gaming-content-right-items .ntg-gaming-right-item-des {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #D9D9D9;
}

.ngl-milestones {
  padding: 29px 0 42px;
  position: relative;
}
.ngl-milestones::before {
  content: "";
  position: absolute;
  width: 1142.11px;
  height: 355.6px;
  bottom: 18px;
  right: 21%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(200px);
  transform: rotate(-180deg);
}
.ngl-milestones * {
  position: relative;
}
.ngl-milestones .ngl-milestones-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}
.ngl-milestones .ngl-milestone {
  display: flex;
  height: 100%;
}
@media (max-width: 767px) {
  .ngl-milestones .ngl-milestone {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.ngl-milestones .ngl-milestone .ngl-milestone-icon {
  margin-right: 11px;
  width: 110px;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .ngl-milestones .ngl-milestone .ngl-milestone-icon {
    height: 80px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .ngl-milestones .ngl-milestone .ngl-milestone-icon img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
}
.ngl-milestones .ngl-milestone .ngl-milestone-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ngl-milestones .ngl-milestone .ngl-milestone-info {
  padding: 5px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.ngl-milestones .ngl-milestone .ngl-milestone-info .ngl-mi-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #088ff5;
}
.ngl-milestones .ngl-milestone .ngl-milestone-info .ngl-mi-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 3px;
  width: 130px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .ngl-milestones .ngl-milestone .ngl-milestone-info .ngl-mi-description {
    width: 100%;
    line-height: 1.3;
    margin-bottom: 10px;
  }
}
.ngl-milestones .ngl-milestone .ngl-milestone-info .ngl-mi-action {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  background-color: #088ff5;
  border-radius: 5px;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
}
.ngl-milestones .ngl-milestone .ngl-milestone-info .ngl-mi-action:hover {
  color: #088ff5;
  background-color: #ffffff;
}

.ntg-our-game {
  padding: 58px 0;
}
.ntg-our-game .ntg-our-game-header {
  display: flex;
  justify-content: space-between;
}
.ntg-our-game .ntg-our-game-header .ntg-our-game-content-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.ntg-our-game .ntg-our-game-header .ntg-our-game-content-tutorials {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
.ntg-our-game .ntg-our-game-content .ntg-our-game-item .card {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-height: 278px;
}
.ntg-our-game .ntg-our-game-content .ntg-our-game-item .card .card-body {
  padding-top: 20px;
}
.ntg-our-game .ntg-our-game-content .ntg-our-game-item .card .card-body .card-text {
  font-weight: 400;
  font-size: 14px;
  width: 70%;
}
.ntg-our-game .ntg-our-game-content .ntg-our-game-item .card .card-body .card-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  width: 30%;
}

.ntg-unp-token {
  background: rgba(0, 0, 0, 0.5);
}
.ntg-unp-token .ntg-unp-token-content {
  padding-top: 49px;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-header .ntg-unp-token-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  margin-bottom: 4px;
  color: #ffffff;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-header .ntg-unp-token-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-header .ntg-unp-token-des .unit {
  color: #088FF5;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body {
  margin-top: 51px;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .ntg-unp-token-items .ntg-unp-token-item .ntg-unp-item-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .ntg-unp-token-items .ntg-unp-token-item .ntg-unp-item-title .ntg-unp-item-dot {
  width: 12px;
  height: 12px;
  margin-right: 14px;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .ntg-unp-token-items .ntg-unp-token-item .ntg-unp-item-title .ntg-unp-item-dot.fund-rais {
  background-color: #1A89FF;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .ntg-unp-token-items .ntg-unp-token-item .ntg-unp-item-title .ntg-unp-item-dot.play-earn {
  background-color: #6663FB;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .ntg-unp-token-items .ntg-unp-token-item .ntg-unp-item-title .ntg-unp-item-dot.team-advisor {
  background: #4581F2;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .ntg-unp-token-items .ntg-unp-token-item .ntg-unp-item-title .ntg-unp-item-dot.listing-marketing {
  background: #0EC5E5;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .ntg-unp-token-items .ntg-unp-token-item .ntg-unp-item-title .ntg-unp-item-dot.public-round {
  background: #29D6F4;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .ntg-unp-token-items .ntg-unp-token-item .ntg-unp-item-des .percen {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .ntg-unp-token-items .ntg-unp-token-item .ntg-unp-item-des .unit {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #088FF5;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-body .line {
  border: 0.5px solid #088FF5;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-footer {
  margin-top: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-footer .footer-unit, .ntg-unp-token .ntg-unp-token-content .ntg-unp-token-content-footer .footer-percen {
  font-weight: 700;
  color: #ffffff;
}

.ngl-product-detail {
  background-image: url(../../images/products/bg.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% auto;
  position: relative;
}
.ngl-product-detail .decor {
  position: absolute;
  width: 98px;
  height: 98px;
  background-image: url(../../images/products/decor.png);
  background-size: cover;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.1));
  z-index: 2;
}
@media (max-width: 1199px) {
  .ngl-product-detail .decor {
    display: none;
  }
}
.ngl-product-detail .decor.decor1 {
  top: -52px;
  right: 23.5%;
}
.ngl-product-detail .decor.decor2 {
  width: 34px;
  height: 34px;
  top: 112px;
  left: 13.6%;
}
.ngl-product-detail .decor.decor3 {
  width: 48px;
  height: 48px;
  top: 392px;
  right: 32%;
}

.ngl-banner-video {
  position: relative;
}
.ngl-banner-video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #16181F 0%, rgba(22, 24, 31, 0.5) 100%);
}
.ngl-banner-video img {
  width: 100%;
  height: auto;
}
.ngl-banner-video button {
  padding: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ngl-banner-video button svg {
  width: 80px;
  height: 80px;
  transition: all ease-in-out 0.3s;
  transform-origin: center center;
}
.ngl-banner-video button:hover svg {
  transform: scale(1.2);
}

.ngl-product-summary {
  padding-bottom: 20px;
  background-size: cover;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .ngl-product-summary {
    padding: 30px 0;
  }
}
.ngl-product-summary::before {
  content: "";
  position: absolute;
  width: 1142.11px;
  height: 652.18px;
  left: 70px;
  top: -366px;
  background: linear-gradient(90deg, #0047ff 0.89%, #48f3ff 98.21%);
  filter: blur(200px);
}
.ngl-product-summary * {
  position: relative;
}
.ngl-product-summary span {
  color: #088ff5;
}
.ngl-product-summary img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .ngl-product-summary img {
    margin: 20px 0;
  }
}
.ngl-product-summary h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .ngl-product-summary h1 {
    font-size: 30px;
    line-height: 1.5;
  }
}

.ngl-product-features {
  padding-top: 60px;
}
.ngl-product-features .row {
  --bs-gutter-x: 32px;
  --bs-gutter-y: 32px;
}
@media (max-width: 991px) {
  .ngl-product-features .row {
    --bs-gutter-x: 16px;
    --bs-gutter-y: 16px;
  }
}
.ngl-product-features .ngl-product-feature {
  padding: 30px 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}
.ngl-product-features .ngl-product-feature .ngl-pf-header {
  margin-top: -10px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  width: 100%;
}
.ngl-product-features .ngl-product-feature .ngl-pf-header span {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #088ff5;
}
.ngl-product-features .ngl-product-feature svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin-right: 11px;
}

.ngl-product-content {
  padding-top: 64px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .ngl-product-content {
    padding-top: 40px;
  }
}
.ngl-product-content h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .ngl-product-content h2 {
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 16px;
  }
}
.ngl-product-content img {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .ngl-product-content img {
    max-width: calc(100% + 20px) !important;
  }
}

.mb-build {
  padding-top: 166px;
  padding-bottom: 118px;
  background-image: url(../images/build/build-bg.svg), url(../images/build/build-decor.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
}
.mb-build .mb-build-top {
  padding-left: 54px;
  margin-bottom: 138px;
}
.mb-build .mb-build-top .mb-build-top-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #fff;
  padding-bottom: 53px;
  margin-bottom: 53px;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}
.mb-build .mb-build-top .mb-build-top-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.mb-build .mb-build-bottom {
  background: linear-gradient(61.1deg, rgba(246, 246, 246, 0.2) -18.33%, rgba(153, 114, 254, 0.2) 15.72%, rgba(145, 111, 242, 0.2) 70.66%, rgba(74, 32, 176, 0.2) 105.78%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 24px;
  padding: 147px 92px 88px 108px;
  position: relative;
}
.mb-build .mb-build-bottom .mb-build-bottom-image {
  background-image: url(../images/build/build-image-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.mb-build .mb-build-bottom .mb-build-bottom-image img {
  width: 180px;
}
.mb-build .mb-build-bottom .mb-build-bottom-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 76px;
  color: #f6f6f6;
  margin-bottom: 25px;
}
.mb-build .mb-build-bottom .mb-build-bottom-title span {
  color: #d2f859;
}
.mb-build .mb-build-bottom .mb-build-bottom-body {
  margin-bottom: 46px;
}
.mb-build .mb-build-bottom .mb-build-bottom-body input {
  width: 100%;
  background-color: transparent !important;
  padding: 15px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
  transition: all ease-in-out 0.3s;
}
.mb-build .mb-build-bottom .mb-build-bottom-body input::-moz-placeholder {
  color: #b7b7b7;
}
.mb-build .mb-build-bottom .mb-build-bottom-body input::placeholder {
  color: #b7b7b7;
}
.mb-build .mb-build-bottom .mb-build-bottom-body input:focus {
  border-color: #fff;
}
.mb-build .mb-build-bottom .mb-build-bottom-action button {
  outline: 0;
  height: 54px;
  border: 0;
  background: #d2f859;
  border: 1px solid #d2f859;
  border-radius: 56px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #0a0f18;
}
.mb-build .mb-build-bottom .mb-build-bottom-action button span {
  margin-right: 20px;
}

@media (max-width: 991px) {
  .mb-build .mb-build-top {
    padding-left: 0;
    margin-bottom: 100px;
  }
  .mb-build .mb-build-top .mb-build-top-body {
    gap: 60px;
    justify-content: center;
  }
  .mb-build .mb-build-bottom {
    padding: 40px;
  }
  .mb-build .mb-build-bottom .mb-build-bottom-image {
    text-align: center;
    padding-bottom: 56px;
    padding-right: 80px;
  }
  .mb-build .mb-build-bottom .mb-build-bottom-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.02em;
    margin-bottom: 18px;
  }
  .mb-build .mb-build-bottom .mb-build-bottom-body {
    margin-bottom: 40px;
  }
  .mb-build .mb-build-bottom .mb-build-bottom-body input {
    padding-bottom: 33px;
  }
}
@media (max-width: 767px) {
  .mb-build {
    padding: 54px 20px 28px;
  }
  .mb-build .mb-build-bottom {
    padding: 76px 24px 84px;
  }
  .mb-build .mb-build-top {
    padding-bottom: 73px;
    margin-bottom: 0;
  }
  .mb-build .mb-build-top .mb-build-top-title {
    padding-bottom: 34px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 156%;
  }
  .mb-build .mb-build-top .mb-build-top-body {
    gap: 40px;
  }
  .mb-build .mb-build-top .mb-build-top-body img {
    max-height: 32px;
  }
}
.ngl-footer {
  padding: 66px 0 95px;
}
@media (max-width: 767px) {
  .ngl-footer {
    padding: 40px 0 20px;
  }
}
.ngl-footer .ngl-footer-inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .ngl-footer .ngl-footer-inner {
    flex-direction: column;
    gap: 20px;
  }
}
.ngl-footer .ngl-footer-inner .ngl-footer-logo img {
  width: auto;
  height: 55px;
}
@media (max-width: 767px) {
  .ngl-footer .ngl-footer-inner .ngl-footer-logo img {
    height: 36px;
  }
}
.ngl-footer .ngl-footer-inner .ngl-footer-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .ngl-footer .ngl-footer-inner .ngl-footer-copyright {
    font-size: 11px;
    line-height: 1;
  }
}
.ngl-footer .ngl-footer-inner ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.ngl-footer .ngl-footer-inner ul li {
  line-height: 1;
}
.ngl-footer .ngl-footer-inner ul li:not(:last-child) a {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px #fff solid;
}
.ngl-footer .ngl-footer-inner ul li a {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.ngl-footer .ngl-footer-inner ul li a:hover {
  color: #088ff5;
}

.btn-matebase {
  font-weight: 600;
  font-size: 14px;
  padding: 10px 32px;
  background: #C1E64C;
  border-radius: 50px;
  margin-left: 30px;
  color: #1F1F23;
}
.btn-matebase:hover {
  background: #C1E64C;
}/*# sourceMappingURL=style.css.map */