.btn-matebase{
    font-weight: 600;
    font-size: 14px;
    padding: 10px 32px;
    background: #C1E64C;
    border-radius: 50px;
    margin-left: 30px;
    color: #1F1F23;
    &:hover{
        background: #C1E64C;
    }
}