footer {
  background: $bg-footer;
  padding: 60px 208px 90px;
  .ntg-footer {
    gap: 208px;
    &_content {
      color: $white-color;
      p {
        margin: 0;
        line-height: 22px;
        font-size: 14px;
        font-weight: $font-weight-400;
      }
      .ntg-footer-text {
        a {
          color: $white-color;
          text-decoration: none;
          font-size: 12px;
          font-weight: $font-weight-700;
          line-height: 18px;
          padding-right:16px;
          &:nth-child(2) {
            padding: 0 20px;
            border-left: 1px solid $white-color;
            border-right: 1px solid $white-color;
          }
          &:nth-child(3){
            padding-left: 16px;
          }
        }
      }
    }
    @media (max-width: 575px) {
      padding: 30px;
    }
    @media (max-width: 992px) {
      padding: 30px;
    }
  }
}
