 .ntg-navbar {
   padding: 36px 0;
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 999;

   &.ntg-navbar-fixed {
     background-color: rgba($color: $ntg-black-color, $alpha: 0.7);
     backdrop-filter: blur(6px);
     padding: 36px 0;
   }

   &.sticky {
     padding: 16px 0;
     background: rgba(88, 50, 178, 0.5);
     backdrop-filter: blur(14px);
     animation: slide-down 0.5s;
   }



   .navbar-brand {
     padding: 0;
     margin: 0;
     margin-right: 30px;

     span {
       display: inline-flex;
       align-items: center;
       justify-content: center;
       border: 4px solid $primary-color;
       width: 158px;
       height: 59px;
       font-weight: 600;
       font-size: 24px;
       line-height: 30px;
       color: $primary-color;
     }
   }

   .navbar-nav {
     margin: auto;

     // width: 100%;
     // justify-content: space-between;
     .nav-item {
       margin-right: 30px;

       .nav-link {
         font-weight: 700;
         font-size: 14px;
         line-height: 156%;
         color: $white-color;
         transition: $transition-all;

         // &:hover,
         // &.active {
         //   color: $primary-color;
         // }   
       }
     }
   }

   .navbar-collapse {
     .navbar-nav-inner {
       .navbar-nav {
         .nav-item {
           .nav-link {
             font-size: 12px;
             font-weight: 400
           }
         }
       }
     }
   }
 }


 @keyframes slide-down {
   0% {
     opacity: 0;
     transform: translateY(-100%);
   }

   100% {
     opacity: 1;
     transform: translateY(0);
   }
 }

 @media (max-width: 991px) {
   .ntg-navbar {
     .navbar-brand {
       margin-right: 20px;

       span {
         height: 48px;
       }
     }

     .navbar-collapse {
       .search-input {
         position: relative !important;
         width: 100% !important;
       }

       .btn-matebase {
         display: flex;
         margin: 20px auto;
       }
     }
   }
 }

 @media (max-width: 767px) {
   .ntg-navbar {
     padding: 30px 0;

     .navbar-nav {
       justify-content: center;
       align-items: center;

       .nav-item {
         margin-bottom: 15px;
       }
     }

     .search-input {
       position: relative !important;
       width: 100% !important;
     }

     .btn-matebase {
       display: flex;
       margin: 20px auto;
     }
   }

   #navbarSupportedContent {
     padding: 20px 0;
   }
 }