.ntg-banner {
  &::before {
    content: "";
    background: linear-gradient(0deg, #16181f 0%, rgba(22, 24, 31, 0.5) 100%);
  }
  background-image: url(../../images/img-banner.png);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 172px;
  padding-bottom: 150px;
  @media (max-width: 1024px) {
    min-height: auto;
  }
  @media(max-width:767px){
    padding: 120px 0 80px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #16181f 0%, rgba(22, 24, 31, 0.5) 100%);
  }
  * {
    position: relative;
  }
  .ntg-banner-title {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    @media(max-width:767px){
      font-size: 30px;
      line-height: 1.5;
    }
    .ntg-title-inner {
      font-weight: 700;
    }
  }
  .icon-play {
    margin-top: 42px;
    img {
      transition: all ease-in-out 0.3s;
      transform-origin: center center;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .ntg-action-items {
    column-gap: 20px;
    margin-top: 73px;
    display: flex;
    width: 100%;
    justify-content: center;
    @media (max-width: 767px) {
      flex-wrap: wrap;
      gap: 16px;
      margin-top: 40px;
    }
   
  }
}
