.ntg-community {
  padding: 60px 0;

  .ntg-community-update {
    .content {
      padding: 32px 30px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      @media (max-width: 767px) {
        padding: 20px;
      }
      .ntg-content-img-items {
        &.slick-slider {
          &:hover {
            .slick-arrow {
              opacity: 1;
            }
          }
          .slick-arrow {
            opacity: 0;
            height: 100%;
            transition: all ease-in-out 0.3s;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0.8;
              background-color: #16181f;
              background-position: center center;
              background-repeat: no-repeat;
            }
            &.slick-disabled {
              display: none !important;
            }
          }
          .slick-next {
            right: 0;
            &::before {
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
              background-image: url(../../images/arrow-next.png);
            }
          }

          .slick-prev {
            left: 0;
            z-index: 10;
            &::before {
              background-image: url(../../images/arrow-prev.png);
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
            }
          }

          .slick-list {
            border-radius: 20px;
          }
        }
      }

      .ntg-new-items {
        .row {
          --bs-gutter-y: 19px;
        }
        .ntg-new-item {
          padding: 0 20px;
          @media (max-width: 767px) {
            padding: 0;
          }
          .title {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
          }

          .time {
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
          }
          .learn-more {
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            color: #088ff5;
            margin-top: 4px;
            text-decoration: none;
            transition: all ease-in-out 0.3s;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .ntg-our-product {
    margin-top: 34px;
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
      color: #fff;
    }

    .ntg-our-product-items {
      margin-left: -12px;
      margin-right: -12px;
      &.slick-slider {
        .slick-prev {
          top: -32px;
          right: 12px;
          left: auto;

          &::before {
            content: url(../../images/arrow-prev.png);
          }
        }

        .slick-next {
          right: -6px;
          top: -32px;

          &::before {
            content: url(../../images/arrow-next.png);
          }
        }
      }

      .ntg-our-product-item {
        padding: 0 12px;
        display: block;
        text-decoration: none;
        &:hover {
          .ntg-prod-thumbnail {
            img {
              transform: scale(1.1);
            }
          }
        }
        .ntg-prod-thumbnail {
          height: 168px;
          border-radius: 10px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform-origin: center center;
            transition: all ease-in-out 0.3s;
          }
        }

        .ntg-prod-info {
          margin-top: 16px;
          .icon-game {
            width: auto;
            margin: 0;
            margin-right: 7px;
          }

          .ntg-prod-des {
            .ntg-prod-des-title {
              font-weight: 700;
              font-size: 14px;
              line-height: 21px;
              color: #fff;
            }

            .ntg-prod-des-content {
              font-weight: 400;
              font-size: 10px;
              line-height: 15px;
              color: #d9d9d9;
            }
          }
        }
      }
    }
  }
}
