.nnews {
  padding: 60px 0 34px;
  .nsect-title {
    margin-bottom: 20px;
  }
  .nnews-inner {
    padding: 32px 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    @media (max-width: 767px) {
      padding: 20px;
    }
    .row {
      --bs-gutter-x: 40px;
    }
    .nnews-image {
      background: #7651f7;
      border-radius: 10px;
      overflow: hidden;
      height: 163px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .nnews-list {
      .row {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 16px;
      }
      .nnews-item {
        .title {
          font-weight: 700;
          line-height: 21px;
          color: #ffffff;
          transition: all ease-in-out 0.3s;
          margin-bottom: 4px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            color: #088ff5;
          }
        }
        .info {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          .created {
            font-size: 10px;
            line-height: 15px;
            color: #d9d9d9;
            opacity: 0.5;
          }
          .learnmore {
            font-size: 10px;
            line-height: 15px;
            color: #088ff5;
            transition: all ease-in-out 0.3s;
            &:hover {
              color: #0ec5e5;
            }
          }
        }
      }
    }
    .nnews-slide {
      &.slick-slider {
        &:hover {
          .slick-arrow {
            opacity: 1;
          }
        }
        .slick-arrow {
          opacity: 0;
          height: 100%;
          transition: all ease-in-out 0.3s;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            background-color: #16181f;
            background-position: center center;
            background-repeat: no-repeat;
          }
          &.slick-disabled {
            display: none !important;
          }
        }
        .slick-next {
          right: 0;
          &::before {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-image: url(../../images/arrow-next.png) !important;
          }
        }

        .slick-prev {
          left: 0;
          z-index: 10;
          &::before {
            background-image: url(../../images/arrow-prev.png) !important;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
          }
        }
      }
    }
  }
}
