.ntg-content {
    padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    width: 1152px;
    height: 1062px;
    left: 700px;
    top: 300px;
    background: linear-gradient(90deg, #48f3ff 0.89%, #0047ff 98.21%);
    opacity: 0.8;
    filter: blur(200px);
    z-index: -1;
  }
}
