// .ntg-gaming{
//     padding: 60px 208px;
//     background-image: url(../../images/bg-gaming.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     .ntg-gaming-content-right-items {
//         margin-top: 200px;
//         &.slick-dotted{
//             .slick-dots{
//                 top: -196px;

//                 li{
//                     width: 133px;
//                     margin: 0 16px;
//                 }
//                 #slick-slide-control30{
//                     &::before{
//                         content: url(../../images/icon-gaming-1.png);
//                     }
//                 }
//                 #slick-slide-control31{
//                     &::before{
//                         content: url(../../images/icon-gaming-2.png);
//                     }
//                 }
//                 #slick-slide-control32{
//                     &::before{
//                         content: url(../../images/icon-gaming-3.png);
//                     }
//                 }
//                 #slick-slide-control33{
//                     &::before{
//                         content: url(../../images/icon-gaming-4.png);
//                     }
//                 }
//             }
//         }
//     }
// }
.ntg-gaming {
  // padding: 60px 208px;
  background-image: url(../../images/bg-gaming.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .nav-tabs {
    border: none;

    .nav-link {
      background: none;
      border: none;
      color: #ffffff !important;
      opacity: 0.5;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      padding: 19px 17px 20px;
      &:first-child{
        padding-left: 0;
      }
      &.active {
        color: #d9d9d9;
        opacity: 1;
      }
    }
  }

  .ntg-gaming-content-left-items {
    width: 75%;
    background-color: #16181f;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
    z-index: 0;
    margin-top: 0px;

    .ntg-gaming-content-left-item {
      .ntg-gaming-content-left-item-header {
        margin: auto;
      }

      .ntg-gaming-content-left-item-body {
        width: 100%;
        padding: 0 10px 10px 10px;
        background-color: black;
        border-radius: 8px;

        .link-gaming {
          margin-top: 43px;
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          color: #088ff5;
          text-decoration: none;
        }

        .list-icon {
          justify-content: center;
          column-gap: 10px;
        }

        .gaming-des {
          font-weight: 400;
          font-size: 10px;
          line-height: 15px;
          color: #d9d9d9;
        }
      }
    }
  }

  .ntg-gaming-content-right-items {
    margin-top: 200px;

    &.slick-dotted {
      .slick-dots {
        top: -196px;

        li {
          margin: 0 30px;
        }

        #slick-slide-control30 {
          &::before {
            content: url(../../images/icon-gaming-1.png);
            width: 40px;
          }
        }

        #slick-slide-control31 {
          &::before {
            content: url(../../images/icon-gaming-2.png);
          }
        }

        #slick-slide-control32 {
          &::before {
            content: url(../../images/icon-gaming-3.png);
          }
        }

        #slick-slide-control33 {
          &::before {
            content: url(../../images/icon-gaming-4.png);
          }
        }
      }
    }

    &.slick-slider {
      .slick-arrow {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.8;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      .slick-prev {
        top: -221px;
        left: 90%;

        &::before {
          background-image: url(../../images/arrow-prev.png);
        }
      }

      .slick-next {
        top: -221px;

        &::before {
          background-image: url(../../images/arrow-next.png);
        }
      }
    }

    .ntg-gaming-right-item-title {
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      color: #ffffff;
    }

    .ntg-gaming-right-item-des {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: #d9d9d9;
    }
  }
}
