.nmilestones {
  padding: 29px 0 42px;
  background-image: url(../../images/milestones/bg.png);
  background-size: cover;
  .nsect-title {
    margin-bottom: 20px;
  }
  .nmilestone-item {
    display: flex;
    height: 100%;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
    .icon {
      width: 110px;
      margin-right: 10px;
      @media (max-width: 767px) {
        width: 60px;
        margin-right: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 767px) {
        align-items: center;
        text-align: center;
      }
      .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #088ff5;
      }
      .description {
        font-size: 12px;
        line-height: 20px;
        width: 130px;
        max-width: 100%;
        padding-bottom: 5px;
        @media (max-width: 767px) {
          width: auto;
          line-height: 1.3;
          padding-bottom: 8px;
        }
      }
      .action {
        width: 100px;
        white-space: nowrap;
        margin-top: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #088ff5;
        border-radius: 5px;
        padding: 5px 30px;
        font-size: 10px;
        line-height: 15px;
        color: #ffffff;
        transition: all ease-in-out 0.3s;
        &:hover {
          background-color: #0ec5e5;
          box-shadow: 1px 0px 10px rgba($color: #088ff5, $alpha: 0.4);
        }
      }
    }
  }
}