.ngames {
    padding: 58px 0 64px;
    position: relative;
    .nsect-title {
      margin-bottom: 20px;
    }
    .ngames-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;
      .nsect-title {
        margin-bottom: 0;
      }
      a {
        font-size: 10px;
        line-height: 15px;
        display: inline-flex;
        align-items: center;
        color: #088ff5;
        transition: all ease-in-out 0.3s;
        &:hover {
          color: #0ec5e5;
        }
      }
    }
    .row {
      --bs-gutter-x: 24px;
      --bs-gutter-y: 24px;
      @media (max-width: 767px) {
        --bs-gutter-x: 12px;
        --bs-gutter-y: 12px;
      }
    }
    .ngame-item {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      height: 222px;
      position: relative;
      .image {
        height: 166px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
      .info {
        position: absolute;
        top: auto;
        bottom: 10px;
        left: 12px;
        right: 12px;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        @media (max-width: 991px) {
          font-size: 12px;
          line-height: 1.3;
        }
        .action {
          font-size: 10px;
          line-height: 15px;
          color: #088ff5;
          white-space: nowrap;
          margin-bottom: 14px;
          transition: all ease-in-out 0.3s;
          &:hover {
            color: #0ec5e5;
          }
        }
      }
    }
  }
  