.ntg-partner {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 0;
  .ntg-partner-items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px ;
    column-gap:30px;
    @media (max-width:767px) {
        padding: 16px;
    }
    .ntg-partner-item {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      &:hover{
        border: 1px solid #fff;
      }
    }
  }
}
