.nvision {
  padding-top: 33px;
  padding-bottom: 51px;
  .nvision-inner {
    position: relative;
    .nvision-body {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      width: 686px;
      max-width: 80%;
      padding: 47px 30px 42px;
      margin-left: auto;
      @media (max-width: 767px) {
        max-width: 100%;
        padding: 20px;
        text-align: center;
      }
      p {
        width: 452px;
        max-width: 100%;
        margin-left: auto;
        margin-bottom: 0;
      }
    }
    img {
      position: absolute;
      top: 12px;
      left: 0;
      @media (max-width: 991px) {
        width: 200px;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}